includeConfig 'docker.config'

process {
  executor = 'awsbatch'
	queue = 'hgx_compenv_cpu'

	memory = { task.attempt < 5 ? task.attempt * 7.GB : 30.GB }
	cpus = { task.attempt < 3 ? task.attempt * 4 : 8 }

	errorStrategy = { sleep(Math.pow(2, task.attempt - 1) * 100000 as long); return 'retry' }
	maxRetries = 5
}


aws {

    region = 'eu-central-1'

    batch {
		cliPath = '/miniconda/bin/aws'
		maxParallelTransfers = 10
		//volumes = '/tmp'
    }

    client { 
		maxConnections = 10
		glacierAutoRetrieval = true
		glacierExpirationDays = 14
		glacierRetrievalTier = 'Standard'
    }

}
