includeConfig 'docker.config'

process {
    executor = 'awsbatch'
	queue = 'hgx_compenv_cpu'

	memory = { task.attempt < 5 ? task.attempt * 7.GB : 30.GB }
	cpus = { task.attempt < 3 ? task.attempt * 4 : 8 }

	errorStrategy = 'retry'
	maxRetries = 5

	withName: worker         {
		queue = 'high-mem-x64'
		cpus   = 8
		time   = '12h'
		memory = '230GB'
	}
}


aws {
    region = 'eu-central-1'

    batch {
		cliPath = '/miniconda/bin/aws'
		maxParallelTransfers = 10
    }

    client { 
		maxConnections = 10
    }

}
