includeConfig 'docker.config'


executor {
  name = 'local'
  cpus = 30
  memory = 120.GB
}

process {

  executor = 'local'
  
  cpus = 2
  memory = 8.GB
  time = 4.h

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 1
  maxErrors = '-1'

  withName: worker         {
		cpus   = 16
		time   = '12h'
		memory = 110.GB
	} 

withName: s3seg         {
		cpus   = 4
		memory = 40.GB
	} 

}